# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/
ENV/
interview_ai/

# Environment variables
.env

# Python build files
build/
dist/
*.egg-info/

# Testing
.pytest_cache/
.coverage
htmlcov/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# =========================
# Chroma DB
# =========================
chroma_db/

# =========================
# Node / React
# =========================
node_modules/

# Vite build
dist/

# npm logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =========================
# Misc
# =========================
*.log


docs/